NEXT_PUBLIC_SUPABASE_URL=https://pjnymapcmrhiukomfhul.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBqbnltYXBjbXJoaXVrb21maHVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMzEyMDYsImV4cCI6MjA5MzkwNzIwNn0.OKWzZ4DAyy96uCgHnhjcn_3hAMb6a3O6HjGyaQ4PxYY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBqbnltYXBjbXJoaXVrb21maHVsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODMzMTIwNiwiZXhwIjoyMDkzOTA3MjA2fQ.CNvoSWYpwf2yQgwYG1v0Hnyu0ipaFnlFgjkipiiAOLc
